@charset 'UTF-8';

:root {
  --blue: #017a9b;
  --dark-blue: #097a9b;
}

body {
  background-image: none;
}

h1 {
  font-size: 2.5rem !important;
  font-weight: 300 !important;
  text-transform: capitalize;
  text-align: center !important;
}

.review {
  max-width: 70%;
  text-align: center !important;
  margin: 0 auto;
}

.review .text {
  line-height: 2.30rem !important;
  font-size: 1.75rem !important;
  font-weight: 300 !important;
  color: var(--blue);
}

.review .author {
  text-transform: uppercase;
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: var(--dark-blue);
}

.review .author img {
  width: 3rem;
  height: auto;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  .review {
    max-width: 90%;
  }
}