:root {
  --black: #191b1d;
  --white: #fff;
  --cobalt-blue: #0047ab46;
  --light-blue: #0047ab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--black) !important;
  margin: 1rem 0;
  font-family: 'Open Sans', sans-serif !important;
  height: 100%;
  background-color: var(--white) !important;
  background-image: url(https://raw.githubusercontent.com/jeremiey/huddle-landing-page-zuri/4e2a71e8ed3847d3245d24874aa7d08bdcb26a47/images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.4s ease-in-out;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.sections-header {
  text-align: center;
}

.sections .sections-header h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 48px;
  max-width: 600px;
}

.sections .sections-header p {
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .sections {
    text-align: left;
    padding: 1rem 2rem;
  }
  .sections h2 {
    font-size: 1.7rem;
  }
  .sections .sections-header p {
    font-size: 1rem;
  }
}

.strong {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .sections {
    text-align: left;
    padding: 1rem 2rem;
  }
}

/* hero-section */
.hero-section {
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
}

.hero-section .hero-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.hero-section .hero-left h1 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 48px;
}

.hero-section .hero-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0 2rem;
}

.hero-section .hero-right img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .hero-section {
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .hero-section .hero-left {
    width: 100%;
    padding: 0;
  }

  .hero-section .hero-right {
    width: 100%;
    padding: 0;
  }

  .hero-section .hero-left h1 {
    font-size: 2rem;
    line-height: 48px;
  }

  .hero-section .hero-right img {
    width: 80%;
    min-width: 300px;
  }
}

/* program details/courses section */
.programs-section {
  padding: 1rem 10rem;
}

@media all and (max-width: 992px) {
  .programs-section {
    padding: 1rem 5rem;
  }
}

@media all and (max-width: 768px) {
  .programs-section {
    padding: 1rem 1.5rem;
  }
}

@media all and (max-width: 600px) {
  .programs-section {
    padding: 1rem 1rem;
  }
}

@media all and (max-width: 575px) {
  .programs-section {
    padding: 1rem 5rem;
  }
}

@media all and (max-width: 450px) {
  .programs-section {
    padding: 1rem 1rem;
  }
}

.programs-section .row .col-sm-6 .card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

/* Clients/Sponsors Section */
.sponsor-section .interllo-clients {
  width: 100%;
  display: block;
  float: left;
  text-align: center;
}

.sponsor-section .interllo-sponsored img {
  width: 150px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

/* Support details section */
.support-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100%;
  text-align: center;
}

.support-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 0 1.5rem;
}

@media all and (max-width: 992px) {
  .support-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .support-item {
    width: 100%;
    padding: 0 1.5rem;
  }
}

@media all and (max-width: 600px) {
  .support-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .support-item {
    width: 100%;
    padding: 1rem 0;
  }
}

/* Next step section */
.next-step-section {
  padding: 10rem 0;
  color: var(--white);
  background-size: cover;
  background-color: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 71, 171, 0.3));
  background-image: url('https://www.udacity.com/images/pattern-background-555px-opt.png');
}

.next-step-section .sections-header .btn {
  font-weight: 400;
  padding: 1rem 2rem;
  color: var(--light-blue) !important;
  text-transform: uppercase;
  background-color: var(--white) !important;
  transition: all 0.3s ease-in-out !important;
}
