:root {
  --text-black: #58616a;
  --light-blue: #0181a4;
}

body {
  background-image: none;
}

main {
  padding: 2rem 5rem;
}

@media screen and (max-width: 1200px) {
  main {
    padding: 2rem 1rem;
  }
}

h4 {
  font-weight: 300 !important;
  font-size: 2rem !important;
}

.top-text small {
  font-size: 0.8rem !important;
  font-weight: 600 !important;
  line-height: 1.9;
  letter-spacing: 0.1rem;
  color: #657482;
}

h5 {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
}

.text {
  font-size: 1rem !important;
  line-height: 1.7;
  color: var(--text-black);
}

.text a {
  position: relative;
  text-decoration: none;
  color: var(--light-blue);
  transition: all 0.3s ease-in-out;
}

.text a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: var(--light-blue);
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 1.5rem !important;
  }

  .top-text small {
    font-size: 0.8rem !important;
  }

  h5 {
    font-size: 1.2rem !important;
  }

  .text {
    font-size: 0.9rem !important;
  }
}
